* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.container {
  overflow: hidden;
}

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  background: var(--footer-bg);
}

:root {
  --primary-color: #DD3333;
  --primary-50: #FBE9E9;
  --primary-100: #F8D3D3;
  --primary-200: #F0A8A8;
  --primary-300: #E97C7C;
  --primary-400: #E25050;
  --primary-600: #AF1D1D;
  --primary-700: #831616;
  --primary-800: #570F0F;
  --primary-900: #2C0707;
  --primary-950: #160404;
  --heading-font: 'Playfair Display', serif;
  --body-font: 'Barlow', sans-serif;
  --bg-dark: #1B1B1B;

}



[data-aos] {
  pointer-events: none;
}

[data-aos].aos-animate {
  pointer-events: auto;
}

/* ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1B1B1B;
}

::-webkit-scrollbar-thumb {
  background: #DD3333;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #AF1D1D;
} */


.primary-button {
  background-color: var(--primary-600);
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  border-radius: 4px;
  width: fit-content;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.primary-button:hover {
  background-color: var(--primary-color);
}

.why-choose-us {
  width: 100%;
  min-height: 80vh;
  background-image: url("./assets/why-choose-us-bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.about-us {
  width: 100%;
  height: 70vh;
  background-image: url("./assets/aboutPage/aboutbg.webp");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.aminityImage {
  width: 100%;
  height: 60vh;
  background-image: url("./assets/swiming-pool.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


.ui-datepicker {
  z-index: 9999 !important;
  background: #fff !important;
}